// Defaults and variables
@import "../../sass/common/bits.scss";

.logo {
  position: relative;

  &__lilac-circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: $lilac;
  }

  &__white-circle {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
    box-shadow: 0 4px 4px rgba(57, 70, 136, 0.18);
  }
}
